/* Navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:7px;

  border-top: 1px solid #a7a6a6;
  border-bottom: 1px solid #d1dfce;
 
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
}

.star {
  color: orange;
  font-size: 18px;
  margin-left: 5px;
}

/* Search bar container */
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 500px;
  height: 30px;
    padding: 5px;
  background: white;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  font-size: 14px;
  font-weight: lighter;
}

.search-icon {
  font-size: 18px;
  margin: 0 10px;
  color: #888;
  cursor: pointer;
}

/* Navbar icons */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: lighter;
  color: #333;
  cursor: pointer;
}

/* Adjust icon size */
.icon {
  font-size: 20px;
  margin-right: 5px;
  color: #555;
}

/* Updated dropdown icon */
.dropdown-icon {
  margin-left: 5px;
  font-size: 14px;
  color: #666;
}
