.product-details-container {
display:flex;

  padding: 40px;
  max-width: 1200px;
  height: auto;
  flex-wrap: wrap;
  flex-direction: row;
  gap:20px;
  background-color: rgb(255, 255, 255);
  margin: auto;

  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.product-details-container img {
  width: 400px;
  height: 500px;
  object-fit:cover;
  
 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.product-info {

  max-width:400px;
  text-align: left;

}

.product-info h1 {
  font-size: 28px;
  color: #646363;
  margin-bottom: 10px;
}

.product-price {
  font-size: 22px;
  margin: 10px 0;
}

.original-price {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}

.discounted-price {
  font-weight: bold;

}

.quantity-selector {
  display: flex;
  align-items: center;
 
  gap: 10px;
  margin-top: 15px;
}

.quantity-selector button {
  width: 35px;
  height: 35px;
  color:rgb(107, 107, 107);
  font-size: 18px;
  border: solid 2px;
  background-color:white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.quantity-selector button:hover {
  background-color: #ddd;
}

.add-to-cart {
  display: block;
  margin-top: 20px;
  padding: 12px;
  background-color:black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}


.loading,
.error {
  text-align: center;
  font-size: 18px;
  color: #ff6f61;
  margin-top: 20px;
}
